
<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor = "let satelliteRow of satellites" class="data-row">
        <td>{{satelliteRow.name}}</td>
        <td *ngIf="satelliteRow.isSpaceDebris(satelliteRow.type) === true" class="warning">{{satelliteRow.type}}</td>
        <td *ngIf="satelliteRow.isSpaceDebris(satelliteRow.type) === false">{{satelliteRow.type}}</td>
        <td>{{satelliteRow.operational}}</td>
        <td>{{satelliteRow.orbitType}}</td>
        <td>{{satelliteRow.launchDate}}</td>
    </tr>

</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

